footer
  .container.text-center
    p.pull-left © 2015 Switcheroo, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/mutinix/calhacks2') GitHub Project
      li
        a(href='https://github.com/aashna956/') Aashna's GitHub
      li
        a(href='https://github.com/mutinix/calhacks2') Gaurav's GitHub