extends layout

block content

  .jumbotron
    h1 Switcheroo
    p.lead Rent everything.

  .container

    <!-- Background Tiles -->
    h3 Hear what our customers have to say!

    br 

    .row
        .col-xs-6.col-md-4
            blockquote
                p Cheap, fast and convenient. I use Switcheroo for about everything.
                br
                footer
                    cite(title="Source Title") Gaurav Jhaveri
        .col-xs-6.col-md-4
            blockquote
                p My computer charger broke a day before my final, and Switcheroo saved the day! 
                br
                footer
                    cite(title="Source Title") Aashna Makkar
        .col-xs-6.col-md-4
            blockquote
                p I got the perfect costume just in time for halloween!
                br
                footer
                    cite(title="Source Title") Random Person

    hr